@import foundation/settings
@import foundation/foundation

//----------------------------------------------------------------------------
// Layout
//----------------------------------------------------------------------------

#masthead
  text-align: center

#header .sub-nav, #footer .inline-list
  text-align: center
  li
    float: none
    display: inline-block

//----------------------------------------------------------------------------
// Home
//----------------------------------------------------------------------------

.site-title
  margin-top: $header-top-margin
  margin-bottom: $header-bottom-margin
  font-family: $header-font-family
  font-size: $h1-font-size
  line-height: $header-line-height
  text-rendering: $header-text-rendering

.posts
  list-style-type: none
  margin-bottom: 2em
  li
    line-height: 1.75em
  span
    color: #aaa
    font-family: Monaco, "Courier New", monospace
    font-size: 80%

//*****************************************************************************
//*
//* Posts
//*
//*****************************************************************************

// standard
.post
  pre
    border: 1px solid #ddd
    background-color: #eef
    padding: 0 .4em
    code
      border: none
    // terminal
    &.terminal
      border: 1px solid #000
      background-color: #333
      color: #FFF
      code
        background-color: #333

  ul, ol
    margin-left: 1.35em

  code
    border: 1px solid #ddd
    background-color: #eef
    padding: 0 .2em
