.posts {
  list-style-type: none;
  margin-bottom: 2em; }
  .posts li {
    line-height: 1.75em; }
  .posts span {
    color: #aaaaaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%; }

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }
  .header a.extra {
    color: #aaaaaa;
    margin-left: 1em; }
    .header a.extra:hover {
      color: black; }

.title {
  display: inline-block;
  margin-bottom: 2em; }
  .title a {
    color: #aa0000; }
    .title a:hover {
      color: black; }

.meta {
  color: #aaaaaa; }

.footer {
  font-size: 80%;
  color: #666666;
  border-top: 4px solid #eeeeee;
  margin-top: 2em;
  overflow: hidden; }
  .footer .contact {
    float: left;
    margin-right: 3em; }
    .footer .contact a {
      color: #8085c1; }
  .footer .rss {
    margin-top: 1.1em;
    margin-right: -0.2em;
    float: right; }
    .footer .rss img {
      border: 0; }

.post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.4em; }
  .post pre code {
    border: none; }
  .post pre.terminal {
    border: 1px solid black;
    background-color: #333333;
    color: white; }
    .post pre.terminal code {
      background-color: #333333; }
.post ul, .post ol {
  margin-left: 1.35em; }
.post code {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.2em; }
