<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/css/normalize.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>
    <header id="header">
      <div class="row">
        <div class="large-12 columns">
          <div id="masthead">
            {%if page.url == "/index.html" %} <h1 class="site-title"> {% else %} <div class="site-title"> {% endif %}
              {{ site.name }}
            {%if page.url == "/index.html" %} </h1> {% else %} </div> {% endif %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <nav>
            <ul class="sub-nav">
              <li class="{%if page.url == '/index.html'%}active{% endif %}">
                <a href="/">Home</a>
              </li>
              <li><a href="/code">Code</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main id="main">
      {{ content }}
    </main>

    <footer id="footer">
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list">
            <li>Wei-Meng Lee</li>
            <li><a href="//twitter.com/weimeng">Twitter</a></li>
            <li><a href="//github.com/weimeng">Github</a></li>
          </ul>
        </div>
      </div>
    </footer>

  </body>
</html>
